{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_content %}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <button><a href="{% url 'home' %}">Home</a></button>
            <button><a href="{% url 'statistics' %}">Survey statistics</a></button>
            <button><a href="{% url 'answers' %}">Survey answers</a></button>
        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}